/* DATEI: session.css */
/* shameless stolen from selfhtml; rewritten for my needs by <flow@atstake.com> */



h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
 font-family:Arial,sans-serif; }

h1 { font-size:26px; margin-bottom:18px; }

h2 { font-size:21px; margin-bottom:18px; }

h2.sh2 { font-size:21px; }

h3,h3.xmp,h3.xpl,h3.inf,h3.tip,h3.akt { font-size:16px; }

h4 { font-size:13px; }

p,ul,ol,li,div,td,th,address,blockquote { font-size:13px; }

li { margin-top:3px; }

pre { font-family:Courier New,Courier; font-size:13px; color:#0000C0; }

code,kbd,tt { font-family:Courier New,Courier; color:#0000C0; }

var { font-style:normal; color:#0000C0; }

blockquote,cite { font-style:italic; }

.bottom { border-width:0px; font-size:10px; font-family:Arial,sans-serif; }

.code { background-color:#FFFFE0; }

h1.inhalt {color:green; font-size:24px; border:none }
.inhalt { background-color:#FFFFFF; padding:0px; border:thin solid #CCCCCC; }

.doc { background-color:#EEEEEE; }

.nav { background-color:#FFFFFF; color:#666666; font-size:15px; font-family:Arial Unicode MS,Arial,sans-serif; }

.banner { background-color:#FFFFFF; font-size:13px; font-family:Arial,sans-serif; color:#666666}

.blue { color:#0000C0; }

pre.normal { color:#000000; }

a:link { color:#AA5522; text-decoration:underline; }

a:visited { color:#772200; text-decoration:underline; }

a:active { color:#000000; text-decoration:none; }

a.an { text-decoration:none; }

.unicode { font-size:15px; font-family:Arial Unicode MS,Arial,sans-serif }

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; text-decoration:line-through; }

